{% extends 'base.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">автор сниппета</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for snippet in snippets %}
                <tr class="table-warning">
                    <td>{{ snippet.id }}</td>
                    <td>{{ snippet.name }}</td>
                    <td>{{ snippet.user.username }}</td>
                    <td>{{ snippet.creation_date }}</td>
                    <td>{{ snippet.Private}}</td>
                    <td>
                        <a href="{% url 'snippet-detail' snippet.id %}">{{ snippet.name }}</a>
                        <form action="{% url 'snippets-delete' snippet.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                        <a href="{% url 'snippet-edit'  snippet.id%}">
                            <i class="fa-solid fa-file-pen"></i>

                        </a>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего сниппетов: x</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}